h2{
text-align: center;
color: red
}

h5{
    text-align: center;
    color:blue
}
progress {
    display: block; /* default: inline-block */
    width: 300px;
    margin: 2em auto;
    padding: 4px;
    border: 0 none;
    background: #444;
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  }

  input{
    margin: 0 auto;
    width: 180px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  button{
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    width: 180px;
  }
  img{
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    width: 180px;
  
  }